*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.qmake.stash
*.pro.user
*.pro.user.*
Makefile

# Generated
moc_*
ui_*
qrc_*

# Misc.
.DS_Store
Makefile.*
.vscode/*
.vs/*
topmod/debug/*
topmod/release/*
include/dlflaux/debug/*
include/dlflaux/release/*
include/vecmat/debug/*
include/vecmat/release/*
include/dlflcore/debug/*
include/dlflcore/release/*